[Unit]
Description=Check Portal+, Botty+ and Codex PS5 main after each synchronization

[Timer]
OnBootSec=30s
OnUnitInactiveSec=60s
AccuracySec=5s
Unit=botty-portal-sync.service

[Install]
WantedBy=timers.target
